<div class="container">
  <h1>Places</h1>

  <% if current_user %>
    <p>
      <a href="/places/new" class="btn btn-primary">New place</a>
    </p>
  <% end %>


  <ul class="list-unstyled">
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>" class="place-link"><%= place["name"] %></a></li>
    <% end %>
  </ul>


</div>